:root {
  --color-1: #5E9FA3;
  --color-2: #F87E7B;
  --color-3: #DCD1B4;
  --color-4: #FAB87F;
  --color-5: #B05574;
}

body {
  background-image: linear-gradient(to right, #DCD1B4 0%, #FAB87F 100%);
}

h2 {
  font-family: 'Londrina Solid', cursive;
}

.nav-bar {
  background-color: var(--color-1);
}

.site-title {
  font-family: 'Londrina Shadow', cursive;
  color: black;
  padding-left: 1rem;
}

.button {
  border-radius: 2rem;
}

.sign-out {
  background-color: var(--color-1);
  color: var(--color-3);
  font-size: 1.5rem;
  padding-right: .5rem;
  list-style-type: none;
}

a {
  margin: 0em;
  padding: 0em;
}

.all-teams {
  background-image: linear-gradient(-225deg, var(--color-4) 0%, var(--color-3) 48%, var(--color-4) 100%);
  padding: .5rem;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 1rem;
}

.team-name {
  padding-left: 1rem;
}

.londrina-solid {
  font-family: 'Londrina Solid';
}

.small-hover-description {
  width: 10rem;
  z-index: 999;
  background-color: rgba(23, 23, 23, .5);
  color: aliceblue;
  padding: .3rem;
  border-radius: 1rem;
}

.small-hover-name{
  font-size: 1.2rem;
}

.underline-text {
  text-decoration: underline;
}