.team-tile {
  max-width: 6rem;
  border-style: solid;
  border-radius: 10%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.results-team {
  margin: 2rem;
  max-width: 20rem;
}

.results-spacing{
  margin-right: 1rem;
}

h4{
  font-size: .8rem;
}