.results-page{
  margin-right: 4rem;
  margin-left: 4rem;
  margin-bottom: 300px
}

.results-team-images{
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center center;
  padding: 1rem;
  padding-bottom: 6rem;
}

.results-teams-text{
  font-size: 1rem;
}

.team-tile {
  max-width: 8rem;
  border-style: solid;
  border-radius: 10%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.results-team {
  text-align: left;
  padding-left: .2rem;
  padding-right: .2rem;
}

.results-draft-pool-text {
  font-size: 1rem;
}

.results-draft-pool-images {
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center center;
  padding: 5rem;
  padding-bottom: 10rem;
}

.pool-name {
  font-family: 'Londrina Shadow', cursive;
}

.opacity-tile {
  opacity: .3;
}

.votes {
  font-family: 'Josefin Sans';
}