.team-tile {
  max-width: 8rem;
  border-style: solid;
  border-radius: 10%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.results-team {
  text-align: left;
}

.team-selection-tile {
  max-height: 18rem;
}

h4 {
  font-size: .8rem;
}

.results-draft-pool-text {
  font-size: 2rem;
}