.start-game {
  max-width: 90%;
}

.new-game-page{
  margin-top: 2rem;
}

.pool-name-text{
  margin-top: 1rem;
}

.game-lobby {
  margin-top: 2rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
/* 
.start-draft-button {
  max-width: 60%;
} */