
.new-game-page{
  margin-top: 2rem;
}

.pool-name-text {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 4rem;
}

.game-lobby {
  margin-top: 2rem;
  margin-left: 6rem;
  margin-right: 6rem;
}

.waiting-room-games{
  background-color: #f6f1e9;
  margin: 1rem;
  padding: 1rem;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 2rem;
  width: 200px;
}

.waiting-games-text {
  font-size: .9rem;
}